/* base reset */
* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* Base styles */

body {
    box-sizing: border-box;
    font-family: arial, sans-serif;
    font-size: 0.875em;
}

/* nav styling */

.nav-list {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /*z-index: 10;*/
    padding: 4px;
    align-items: center;
}

.nav-list > li {
    margin: 0.5rem 0.7rem;
}

ul {
    list-style: none;
}

.sign-in-btn {
    background-color: #1a73e8;
    padding: 0.7rem 1.7rem;
    color: #fff;
    border-style: none;
    border-radius: 0.25rem;
}

/* Google search styling */

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 10rem;
}

.hero-content > div {
    margin: auto;
    margin-bottom: 1.5rem;
}

.search-container {
    border-radius: 24px;
    border-style: solid;
    border-color: rgb(195, 200, 204);
    border-width: thin;
    width: 36rem;
    height: 44px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.search-loop {
    display: flex;
    justify-content: flex-end;
    margin-left: -15rem;
}

.speak-icon {
    display: flex;
    justify-content: flex-end;
    margin-right: -15rem;
}

.search-box {
    display: block;
    margin: 0 3rem;
    border-style: none;
    height: 1.5rem;
    width: 65%;
    outline-width: 0;
}


